**/.git
**/.gitignore
**/.vscode
**/.idea
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/npm-debug.log
**/dist
**/build
**/coverage
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.venv
**/venv
**/postgres_data
